<!DOCTYPE html>
<html>

<head>
  <title>Sample-App</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>Create Your Private Chat Room!</h1>
  <div class="chat-create-form">
    <form action="/chat/create" method="POST">
      <label>Chat Room Name</label>
      <input type="text" placeholder="The name of your room" name="name">

      <label>Guest</label>
      <select name="guests" id="guestsSelect" multiple>
        <% for(var i in users){ %>
        <option value="<%= users[i].id %>"><%= users[i].name %></option>
        <% } %>
      </select>

      <button type="submit">Create Room!</button>
    </form>
  </div>
</body>

</html>