<!DOCTYPE html>
<html>

<head>
  <title>Sample-App</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <%- include('../header.ejs', {user: user}) %>
  <h1>入室可能なチャットルーム一覧</h1>
  <div class="my-links">
    <ul>
      <li><a href="/chat/public">公開チャットへ行く</a></li>
      <li><a href="/chat/create">新しくチャットルームを作る</a></li>
      <li><a href="/chat/rooms">チャットルーム一覧へ行く</a></li>
    </ul>
  </div>
  <div class="my-rooms">
    <div class="host-rooms">
      <h2>Host Room</h2>
      <p>あなたがホストとなっているChat Roomです。</p>
      <%- include('./room_list.ejs', {rooms: user.host_rooms}) %>
    </div>
    <div class="guest-rooms">
      <h2>Guest Rooms</h2>
      <p>あなたがゲストとして招待されているChat Roomです。</p>
      <%- include('./room_list.ejs', {rooms: user.guest_rooms}) %>
    </div>
  </div>
</body>

</html>