<!DOCTYPE html>
<html>

<head>
  <title>Sample-App</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>Dummy Page</h1>
  <h2>Hi, <%= user.name %></h2>
  <p>このページへのアクセスにはログインが必要です。</p>
  <div>
    <li><a href="/chat/public">公開チャットへ行く</a></li>
    <li><a href="/chat/mypage">マイページへ行く</a></li>
    <li><a href="/chat/create">新しくチャットルームを作る</a></li>
    <li><a href="/chat/rooms">チャットルーム一覧へ行く</a></li>
  </div>
</body>

</html>