<!DOCTYPE html>
<html>

<head>
  <title>Sample-App</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>Dummy Page</h1>
  <h2>Hi, <%= user.name %></h2>
  <p>User need to login before accessing to this page</p>
  <div>
    <a href="/chat/top">Chat Page</a>
  </div>
</body>

</html>