<table class="room-list">
  <thead>
    <tr>
      <th>Room Name</th>
      <th>Host User</th>
    </tr>
  </thead>
  <tbody>
    <% for(var i in rooms) { %>
    <tr>
      <td><a href="/chat/rooms/<%= rooms[i].id %>"><%= rooms[i].name %></a></td>
      <td><%= rooms[i].host.name %></td>
    </tr>
    <% } %>
  </tbody>
</table>