<!DOCTYPE html>
<html>

<head>
  <title>Sample-App</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>Room List</h1>
  <h3>Please click the name of the room to enter.</h3>
  <%- include('./room_list.ejs', {rooms: rooms}) %>
</body>

</html>