<!DOCTYPE html>
<html>

<head>
  <title>Sample-App</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <header>
    <p><%= `logged in as ${user.name}` %></p>
    <a href="/">Home</a>
    <button type="button" id="logout" onclick="logout()">Logout</button>
  </header>
  <h1>Chat#Top</h1>


  <script>
    function logout(e) {
      confirm('ログアウトしますか？');
      var form = document.createElement('form');
      form.action = "/logout";
      form.method = 'post';
      document.body.appendChild(form);
      form.submit();
    }
  </script>
</body>

</html>