<header>
  <div class="header-left">
    <a href="/">Home</a>
  </div>
  <div class="header-right">
    <ul>
      <li><%= sessionStatus %></li>
      <li><%= sessionLink %></li>
    </ul>
  </div>
</header>