<!DOCTYPE html>
<html>

<head>
  <title>Sample-App</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>Sample App</h1>
  <p>Welcome to Sample-App</p>
  <div>
    <ul>
      <li><a href="/login">ログイン</a></li>
      <li><a href="/register">新規登録</a></li>
      <li><a href="/chat/mypage">マイページ</a></li>
      <li>
        <a href="/chat/other">ダミーページ（追加機能１−４用のページ）</a>
      </li>

    </ul>
  </div>
</body>

</html>