<!DOCTYPE html>
<html>

<head>
  <title>Sample-App</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>Sample App</h1>
  <p>Welcome to Sample-App</p>
  <div>
    <a href="/login">Login</a>
    <a href="/register">Register</a>
    <a href="/chat/top">Chat</a>
    <a href="/chat/other">Other</a>
  </div>
</body>

</html>